{% extends 'news/base.html' %}

{% block content %}
<ul class="list-articles">
	{% for p in post %}

	{% if p.photo %}
	<p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
	{% endif %}
			<li><h2>{{p.title}}</h2>
				<p>{{p.content|linebreaks|truncatewords:50}}</p>
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
			<div class="article-panel">
				<p class="first">Тег: {{p.tag}}</p>
				</div>
			</li>
	{% endfor %}
</ul>
{% endblock %}